nav {
  background-color: #cfd2d6;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

nav a {
  margin:  15px;
  text-decoration: none;
  color: purple;
  font-weight: bold;
}
article h1{
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}
article h3{
    color: purple;
    font-size: 200%;
    margin-top: 5px;
}
article h4{
    color: grey;
    font-size: larger;
    font-style: normal;
    font-weight: lighter;
    font-size: 150%;
}
article ins{
    color: grey;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
}
header button{
    margin: 20px;
    padding: 20px ;
    padding-right: 20px;
    border-radius: 10%;
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
div button{
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
}
dl dt{
    font-weight: bold;
    color: rgb(228, 12, 228);
    font-size: 150%;
    padding-top: 50px;
}
dl dd{
    font-size: 100%;
    color: grey;
    padding-top: 30px;
}